body {
    background-color: #f8f1ef;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5em;
    margin-top: 1.5em;
}

input[type="radio"] {
    display: none;
}

.bayan-container {
    width: 60%;
    margin: auto;
}

.bayan-tabs {
    color: #1f76f8;
}

.bayan-tabs .bayan-tab {
    transition: all .3s;
}

.bayan-tabs .bayan-tab__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    padding: 1.2em 0;
}

.bayan-tabs .bayan-tab__title__text {
    font-size: 2em;
    font-weight: 700;
}

.bayan-tabs .bayan-tab {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #00000080;
    cursor: pointer;
}
.bayan-tabs .bayan-tab:last-child {
    border-bottom: 1px solid #00000080;
}

.bayan-tabs .bayan-tab:active .meme-img {
    background: red;
}
.bayan-tabs .bayan-tab:active {
    color: #1f76f8;
}

.bayan-tabs .icon {
    width: 18px;
    height: 18px;
    background: url(./img/add.svg) no-repeat center center;

    opacity: 0;
}

.bayan-tabs:hover {
    color: black;
}

.bayan-tabs:hover .icon {
    opacity: 1;
}

.bayan-tabs .bayan-tab__title:hover .icon,
input:checked + .bayan-tab__title .icon {
    background: url(./img/close.svg) no-repeat center center;
}

.bayan-tabs .bayan-tab__container {
    display: none;
    /* display: flex; */
    align-self: center;
    justify-content: center;
    margin-bottom: 10px;
    height: 0px;
    width: 200px;
    margin-bottom: 20px;
    transition: all .3s;
}
.bayan-tabs .bayan-tab:hover .bayan-tab__container,
.bayan-tabs input:checked ~ .bayan-tab__container {
    display: flex;
    height: 200px;
}

.meme-img {
    max-width: 100%;
    height: auto;
}

.bayan-tabs input:checked + .bayan-tab__title {
    color: black;
}

.bayan-tabs .bayan-tab:active {
    opacity: .7;
    color: #1f76f8;
}

.bayan-tabs .bayan-tab:active input:checked + .bayan-tab__title {
    color: #1f76f8;
}




.tabs .tab_title,
.tabs .tab_content {
    /* закрыты */
}

.tabs .tab:active .tab_title,
.tabs .tab:active .tab_content {
    /* активны */
}

.tabs .tab:hover .tab_title,
.tabs .tab:hover .tab_content,
.tabs .tab input[name="bayan"]:checked ~ .tab_title,
.tabs .tab input[name="bayan"]:checked ~ .tab_content {
    /* открыты */
}